.board{
    width: 80%;
    height: 90%;
    background: #04152b;
    position: absolute;
    color: white;
    top: 5%;
    left: 10%;
}

.score-board{
    height: 100%;
    width: 15%;
    text-align: center;
    background: #f41a2c;
    position: absolute;
    top: 0;
    right: 0;
}